.header {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  align-items: center;
  min-height: 10vh;
  color: black;

  .logo {
    grid-column: 2/3;
    font-size: 24px;
  }
  .hamburger-menu {
    justify-self: end;
  }
}
